<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IFileService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Server/Service" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IFileService" contract="FileServiceReference.IFileService"
                name="WSHttpBinding_IFileService">
                <identity>
                    <userPrincipalName value="DESKTOP-UL7UJDJ\Megan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
